<div class="login-container">
    <div class="background-shape">
    <div class="login-form">
      <div class="image-container">
        <img src="/assets/undraw_remotely_2j6y.svg" alt="Login Image">
      </div>
      <form (submit)="login()">
        <div class="form-heading">Sign In</div>
        <div class="form-input">
          <i class="fa-solid fa-user"></i>
          <input type="text" [(ngModel)]="username" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-input">
          <i class="fas fa-lock"></i>
          <input type="password" [(ngModel)]="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div>
          <a href="/signup">New user? Sign up here</a>
        </div>
        <div class="form-error" *ngIf="loginError">{{loginError}}</div>
        <button type="submit" [disabled]="loading">Login</button>
        <my-project-loader *ngIf="loading"></my-project-loader>
        <div class="social-buttons">
          <span>- or Sign in with -</span>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>  
      </form>
    </div>
  </div>
  </div> 

  