<footer class="footer">
    <div class="footer-content">
      <a routerLink="/home" class="navbar-brand">Varma's</a>
  
      <div class="footer-left">
        <nav class="footer-nav">
          <a routerLink="/products/Men" class="footer-link">Men</a>
          <a routerLink="/products/Women" class="footer-link">Women</a>
          <a routerLink="/products/Boys" class="footer-link">Boys</a>
          <a routerLink="/products/Girls" class="footer-link">Girls</a>
          <a routerLink="/products/Unisex" class="footer-link">Unisex</a>
        </nav>
      </div>
  
      <div class="footer-right">
        <div class="social-links">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  
    <hr />
  
    <p class="careof">&copy; 2023 Saivenkat</p>
  </footer>
  