<div class="cart-container">
    <div class="cart-items">
      <h2>Your Cart</h2>
      <div class="product-list">
        <div *ngFor="let product of cartItems; trackBy: trackByProductId" class="product-card">
          <!-- Adjust the below link based on your Angular router configuration -->
          <a class="product-image" style="text-decoration: none" [routerLink]="['/products', product.gender, product.product]">
            <div>
              <img *ngIf="product.images && product.images.split('~').length > 0" [src]="product.images.split('~')[0]" [alt]="product.name" />
            </div>
          </a>
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <div class="ratings-section">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <span class="rating">4.1/5</span>
            </div>
            <div class="price-section">
              MRP: &#8377;{{ product.price }}
            </div>
            <div class="quantity-section">
              <button class="quantity-btn" (click)="updateQuantity(product.product, product.quantity - 1)">-</button>
              <span class="quantity">{{ product.quantity }}</span>
              <button class="quantity-btn" (click)="updateQuantity(product.product, product.quantity + 1)">+</button>
            </div>
            <button class="remove-btn" (click)="removeFromCart(product.product)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="price-detail-card">
      <h2>PRICE DETAILS</h2>
      <hr />
      <div class="price-detail-item">
        <p>Price ({{ noOfCartItems() }} items)</p>
        <span>&#8377;{{ totalPrice.toFixed(2) }}</span>
      </div>
      <div class="price-detail-item">
        <p>Secured Packaging fee</p>
        <span>&#8377;50</span>
      </div>
      <div class="price-detail-item">
        <p>Delivery Charges</p>
        <span><span class="strike">&#8377;40</span> Free</span>
      </div>
      <hr />
      <div class="price-detail-item">
        <strong>Total Amount:</strong>
        <strong>&#8377;{{ (totalPrice + 90).toFixed(2) }}</strong>
      </div>
      <hr />
      <strong>Enjoy shopping!!!!</strong>
    </div>
  </div>
  